li::before {
   content: "";
   position: absolute;
   height: 33.33%;
   width: 0;
   background-color: #0D7CFF;
   right: 0;
   z-index: 0;
   top: 33.33%;
   transition: all 0.5s;
}
li::after {
   content: "";
   position: absolute;
   height: 33.33%;
   width: 0;
   background-color: #0D7CFF;
   left: 0;
   z-index: 0;
   bottom: 0;
   transition: all 0.5s;
}
a::before {
   position: absolute;
   content: "";
   height: 33.33%;
   width: 0;
   background-color: #0D7CFF;
   bottom: 66.66%;
   left: 0;
   transition: all 0.5s;
}
