/* Reset default margin and padding */
body {
  margin: 0;
  padding: 0;
  background-color: #151320;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Your button styles */
button {
  height: 7.5em;
  width: 18.75em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 0 1.25em 2.18em rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.31em;
}

button:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(
    to right,
    #fd004c 2.62em,
    #fe9000 5.25em,
    #fff020 7.87em,
    #3edf4b 10.5em,
    #3363ff 15.75em,
    #fd004c 18.75em
  );
  background-size: 125em;
}

button:after {
  content: "HOVER ME";
  position: absolute;
  background-color: #1c1b29;
  height: 85%;
  width: 93%;
  top: 7.5%;
  left: 3.5%;
  border-radius: 0.2em;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.3em;
  display: grid;
  place-items: center;
}

button:hover:before {
  background-position: -106.25em 0;
  transition: 10s linear;
}

/* Scrollable container */
.scrollable-container {
  max-height: 300px; /* Set a maximum height for scrollable container */
  overflow: auto;
}

/* Responsive design for screens up to 768px wide */
@media (max-width: 768px) {
  body {
    /* Adjust styles for screens up to 768px wide */
  }
  .button {
    /* Adjust button styles for smaller screens if needed */
  }
}

/* Responsive design for screens up to 480px wide (typically smartphones) */
@media (max-width: 480px) {
  body {
    /* Adjust styles for screens up to 480px wide */
  }
  .button {
    /* Adjust button styles for even smaller screens if needed */
  }
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}
